<nav class="flex items-center justify-between px-6 py-4">
  <a href="/" class="flex items-center">
    <%= image_tag 'mia.png', alt: 'Mia Logo', class: 'h-8 w-auto mr-4' %>
    <h1 class="text-xl font-semibold text-slate-800">MiaAI</h1>
  </a>

  <nav class="space-x-6 text-slate-600">
    <% if user_signed_in? %>
      <%= link_to 'Chat with Mia', chat_index_path, class: 'hover:text-slate-800' %>
      <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'font-medium hover:text-slate-800' %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path, class: 'hover:text-slate-800' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'font-medium hover:text-slate-800' %>
    <% end %>
  </nav>
</nav>